[Desktop Entry]
Name=ReadAway
Comment=Modern eBook, HTML, and Text Document Reader
Exec=Readaway %U
Icon=readaway
Terminal=false
Type=Application
Categories=Office;Viewer;
MimeType=application/epub+zip;application/vnd.comicbook+zip;application/x-cbz;application/vnd.comicbook-rar;application/x-cbr;text/plain;text/html;application/xhtml+xml;text/markdown;text/x-markdown;
