[Desktop Entry]
Name=ReadAway
Comment=Modern eBook, HTML, and Text Document Reader
Exec=Readaway %U
Icon=readaway
Terminal=false
Type=Application
Categories=Office;Viewer;
MimeType=application/epub+zip;text/plain;text/html;application/xhtml+xml;
